* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Rectangle\ 31.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header .box {
  width: 100%;
  padding: 35px 200px;
}
header .box .box-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .box .box-1 h2 {
  font-family: "Ribeye", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #FFFFFF;
}
header .box .box-1 ul {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}
header .box .box-1 ul li {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
header .box .box-1 span {
  display: none;
}
header .box .box-1 button {
  padding: 14px 35px;
  background-color: #C9453B;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  border: none;
}
header .box .box-2 {
  margin-top: 212px;
  margin-bottom: 244px;
}
header .box .box-2 h1 {
  width: 804px;
  font-size: 65px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 30px;
}
header .box .box-2 p {
  width: 458px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  opacity: 60%;
  margin-bottom: 40px;
}
header .box .box-2 button {
  padding: 18px 46px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  background-color: #C9453B;
  border: none;
  border-radius: 5px;
}

header:active {
  background-position: center;
}

.section-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-1 .box-group {
  width: 100%;
  padding: 140px 200px;
}
.section-1 .box-group h2 {
  font-size: 43px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.section-1 .box-group p {
  width: 735px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}
.section-1 .box-group .box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 29px;
}
.section-1 .box-group .box .box-1 {
  width: 280px;
}
.section-1 .box-group .box .box-1 h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-top: 35px;
}
.section-1 .box-group .box .box-1 p {
  width: auto;
  margin: 10px 27px 33px 27px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}
.section-1 .box-group .box .box-1 img {
  width: 100%;
}

.section-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .box-group {
  width: 100%;
  padding: 140px 0px;
}
.section-2 .box-group .item h2 {
  font-size: 43px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.section-2 .box-group .item p {
  width: 735px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}
.section-2 .box-group .box {
  display: flex;
  justify-content: space-around;
  gap: 29px;
}
.section-2 .box-group .box .box-1 {
  width: 250px;
}
.section-2 .box-group .box .box-1 img {
  width: 100%;
}
.section-2 .box-group .box .box-1 h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  color: #000000;
  margin-top: 35px;
}
.section-2 .box-group .box .box-1 .item {
  width: 250px;
}
.section-2 .box-group .box .box-1 .item .item-1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.section-2 .box-group .box .box-1 .item .item-1 .style-1 span {
  font-size: 24px;
}
.section-2 .box-group .box .box-1 .item .item-1 p {
  font-size: 24px;
}
.section-2 .box-group .box .box-1 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 60%;
  color: #000000;
  margin-bottom: 8px;
}
.section-2 .box-group .box .box-2 {
  width: 250px;
}
.section-2 .box-group .box .box-2 img {
  width: 100%;
}
.section-2 .box-group .box .box-2 h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  color: #000000;
  margin-top: 35px;
}
.section-2 .box-group .box .box-2 .item {
  width: 250px;
}
.section-2 .box-group .box .box-2 .item .item-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-2 .box-group .box .box-2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 60%;
  color: #000000;
  margin-bottom: 8px;
}
.section-2 .box-group .foot {
  display: flex;
  justify-content: center;
  margin-top: 52px;
  gap: 50px;
}

.section-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3 .box-group {
  width: 100%;
  padding: 140px 200px;
}
.section-3 .box-group .item h2 {
  font-size: 43px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.section-3 .box-group .item p {
  width: 735px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}
.section-3 .box-group .box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-3 .box-group .box .box-1 {
  width: 400px;
}
.section-3 .box-group .box .box-1 img {
  width: 100%;
  margin-bottom: 35px;
}
.section-3 .box-group .box .box-1 .tittle-1 h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
.section-3 .box-group .box .box-1 .tittle-1 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
.section-3 .box-group .box .box-1 .tittle-1 b {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.section-3 .box-group .box .box-2 {
  width: 480px;
}
.section-3 .box-group .box .box-2 .box-3 {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.section-3 .box-group .box .box-2 .box-3 img {
  width: 230px;
  height: 170px;
}
.section-3 .box-group .box .box-2 .box-3 .tittle-1 {
  width: auto;
  padding: 10px 20px;
}
.section-3 .box-group .box .box-2 .box-3 .tittle-1 h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
.section-3 .box-group .box .box-2 .box-3 .tittle-1 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
.section-3 .box-group .box .box-2 .box-3 .tittle-1 b {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(38, 148, 153, 0.0392156863);
}
footer .box-group {
  width: 100%;
  padding: 140px 200px;
}
footer .box-group .box {
  display: flex;
  justify-content: space-between;
}
footer .box-group .box .box-1 h2 {
  font-family: "Ribeye", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #000000;
  margin-bottom: 40px;
}
footer .box-group .box .box-1 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
footer .box-group .box .box-1 .images {
  display: flex;
  gap: 27px;
  align-items: center;
}
footer .box-group .box .box-2 ul {
  list-style: none;
}
footer .box-group .box .box-2 ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}
footer .box-group .box .box-3 ul {
  list-style: none;
}
footer .box-group .box .box-3 ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}
footer .box-group .box .box-4 h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #000000;
  margin-bottom: 42px;
}
footer .box-group .box .box-4 .tittle-1 {
  display: flex;
  align-items: center;
  gap: 30px;
}
footer .box-group .box .box-4 .tittle-1 input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-align: left;
  padding: 10px 20px;
  border-radius: 5px;
}
footer .box-group .box .box-4 .tittle-1 button {
  padding: 10px 32px;
  background-color: #C9453B;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 6%;
  text-align: left;
  color: #FFFFFF;
  border: none;
}

@media (min-width: 600px) and (max-width: 1100px) {
  header .box {
    padding: 17.5px 100px;
  }
  header .box .box-1 h2 {
    font-size: 12px;
  }
  header .box .box-1 ul {
    gap: 25px;
  }
  header .box .box-1 ul li {
    font-size: 9px;
  }
  header .box .box-1 button {
    padding: 7px 17.5px;
    font-size: 8px;
  }
  header .box .box-2 {
    margin-top: 106px;
    margin-bottom: 122px;
  }
  header .box .box-2 h1 {
    width: 402px;
    font-size: 32.5px;
    margin-bottom: 15px;
  }
  header .box .box-2 p {
    width: 229px;
    font-size: 9px;
    margin-bottom: 20px;
  }
  header .box .box-2 button {
    padding: 9px 23px;
    font-size: 8px;
  }
  .section-1 .box-group {
    padding: 70px 100px;
  }
  .section-1 .box-group h2 {
    font-size: 21.5px;
    margin-bottom: 10px;
  }
  .section-1 .box-group p {
    width: 367.5px;
    font-size: 9px;
    margin-bottom: 25px;
  }
  .section-1 .box-group .box {
    gap: 14.5px;
  }
  .section-1 .box-group .box .box-1 {
    width: 140px;
  }
  .section-1 .box-group .box .box-1 h3 {
    font-size: 12px;
    margin-top: 17.5px;
  }
  .section-1 .box-group .box .box-1 p {
    font-size: 9px;
    margin: 5px 13.5px 16.5px 13.5px;
  }
  .section-2 .box-group {
    padding: 70px 0px;
  }
  .section-2 .box-group .item h2 {
    font-size: 21.5px;
    margin-bottom: 10px;
  }
  .section-2 .box-group .item p {
    width: 367.5px;
    font-size: 9px;
    margin-bottom: 50px;
  }
  .section-2 .box-group .box {
    gap: 14.5px;
  }
  .section-2 .box-group .box .box-1 {
    width: 125px;
  }
  .section-2 .box-group .box .box-1 h3 {
    font-size: 12px;
  }
  .section-2 .box-group .box .box-1 .item {
    width: 125px;
  }
  .section-2 .box-group .box .box-1 p {
    font-size: 8px;
    margin-bottom: 4px;
  }
  .section-2 .box-group .box .box-2 {
    width: 125px;
    display: none;
  }
  .section-2 .box-group .box .box-2 h3 {
    font-size: 12px;
    margin-top: 17.5px;
  }
  .section-2 .box-group .box .box-2 .item {
    width: 125px;
  }
  .section-2 .box-group .box .box-2 p {
    font-size: 8px;
    margin-bottom: 4px;
  }
  .section-2 .box-group .foot {
    margin-top: 26px;
    gap: 25px;
  }
  .section-3 .box-group {
    padding: 120px 100px;
  }
  .section-3 .box-group .item h2 {
    font-size: 21.5px;
    margin-bottom: 10px;
  }
  .section-3 .box-group .item p {
    width: 367.5px;
    font-size: 9px;
    margin-bottom: 25px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .section-3 .box-group {
    padding: 70px 100px;
  }
  .section-3 .box-group .box .box-1 {
    width: 45%;
  }
  .section-3 .box-group .box .box-1 img {
    margin-bottom: 17.5px;
  }
  .section-3 .box-group .box .box-1 .tittle-1 h3 {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .section-3 .box-group .box .box-1 .tittle-1 p {
    font-size: 9px;
    margin-bottom: 5px;
  }
  .section-3 .box-group .box .box-1 .tittle-1 b {
    font-size: 10px;
  }
  .section-3 .box-group .box .box-2 {
    width: 45%;
  }
  .section-3 .box-group .box .box-2 .box-3 img {
    width: 115px;
    height: 85px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 {
    padding: 5px 10px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 h3 {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 p {
    font-size: 9px;
    margin-bottom: 5px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 b {
    font-size: 10px;
  }
  footer .box-group {
    padding: 70px 100px;
  }
  footer .box-group .box .box-1 h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  footer .box-group .box .box-1 p {
    font-size: 8px;
    margin-bottom: 5px;
  }
  footer .box-group .box .box-1 .images {
    gap: 13.5px;
  }
  footer .box-group .box .box-2 ul li {
    font-size: 9px;
    margin-bottom: 10px;
  }
  footer .box-group .box .box-3 ul li {
    font-size: 9px;
    margin-bottom: 10px;
  }
  footer .box-group .box .box-4 h3 {
    font-size: 10px;
    margin-bottom: 21px;
  }
  footer .box-group .box .box-4 .tittle-1 {
    gap: 15px;
  }
  footer .box-group .box .box-4 .tittle-1 input {
    font-size: 9px;
    padding: 5px 10px;
  }
  footer .box-group .box .box-4 .tittle-1 button {
    padding: 5px 16px;
    font-size: 9px;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .section-3 .box-group {
    padding: 35px 50px;
  }
  .section-3 .box-group .box .box-1 {
    width: 45%;
  }
  .section-3 .box-group .box .box-1 img {
    margin-bottom: 8.75px;
  }
  .section-3 .box-group .box .box-1 .tittle-1 h3 {
    font-size: 5px;
    margin-bottom: 2.5px;
  }
  .section-3 .box-group .box .box-1 .tittle-1 p {
    font-size: 4.5px;
    margin-bottom: 2.5px;
  }
  .section-3 .box-group .box .box-1 .tittle-1 b {
    font-size: 5px;
  }
  .section-3 .box-group .box .box-2 {
    width: 45%;
  }
  .section-3 .box-group .box .box-2 .box-3 img {
    width: 57.5px;
    height: 42.5px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 {
    padding: 2.5px 5px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 h3 {
    font-size: 5px;
    margin-bottom: 2.5px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 p {
    font-size: 4.5px;
    margin-bottom: 2.5px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 b {
    font-size: 5px;
  }
  footer .box-group {
    padding: 35px 50px;
  }
  footer .box-group .box .box-1 h2 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  footer .box-group .box .box-1 p {
    font-size: 4px;
    margin-bottom: 2.5px;
  }
  footer .box-group .box .box-1 .images {
    gap: 6.73px;
  }
  footer .box-group .box .box-2 ul li {
    font-size: 4.5px;
    margin-bottom: 5px;
  }
  footer .box-group .box .box-3 ul li {
    font-size: 4.5px;
    margin-bottom: 5px;
  }
  footer .box-group .box .box-4 h3 {
    font-size: 5px;
    margin-bottom: 10.5px;
  }
  footer .box-group .box .box-4 .tittle-1 {
    gap: 7.5px;
  }
  footer .box-group .box .box-4 .tittle-1 input {
    font-size: 4.5px;
    padding: 2.5px 5px;
  }
  footer .box-group .box .box-4 .tittle-1 button {
    padding: 2.5px 8px;
    font-size: 4.5px;
  }
}
@media (min-width: 200px) and (max-width: 600px) {
  header {
    background-position: right;
  }
  header .box {
    padding: 8.75px 50px;
  }
  header .box .box-1 h2 {
    font-size: 12px;
  }
  header .box .box-1 ul {
    display: none;
  }
  header .box .box-1 button {
    padding: 3.5px 8.75px;
    font-size: 8px;
  }
  header .box .box-2 {
    margin-top: 53px;
    margin-bottom: 61px;
  }
  header .box .box-2 h1 {
    max-width: 200px;
    line-height: 36px;
    font-size: 32.5px;
    margin-bottom: 7.5px;
  }
  header .box .box-2 p {
    max-width: 200px;
    line-height: 14.5px;
    font-size: 9px;
    margin-bottom: 10px;
  }
  header .box .box-2 button {
    padding: 4.5px 11.5px;
    font-size: 8px;
  }
  .section-1 .box-group {
    padding: 35px 50px;
  }
  .section-1 .box-group h2 {
    font-size: 16.125px;
    margin-bottom: 5px;
  }
  .section-1 .box-group p {
    max-width: 183.75px;
    font-size: 9px;
    line-height: 14.5px;
    margin-bottom: 12.5px;
  }
  .section-1 .box-group .box {
    gap: 7.25px;
  }
  .section-1 .box-group .box .box-1 {
    max-width: 70px;
  }
  .section-1 .box-group .box .box-1 h3 {
    font-size: 9px;
    margin-top: 8.75px;
  }
  .section-1 .box-group .box .box-1 p {
    font-size: 6.75px;
    line-height: 14.5px;
    margin: 2.5px 6.75px 8.25px 6.75px;
  }
  .section-2 .box-group {
    padding: 35px 0px;
  }
  .section-2 .box-group .item h2 {
    font-size: 16.125px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  .section-2 .box-group .item p {
    max-width: 183.75px;
    font-size: 9px;
    line-height: 14, 5px;
    margin-bottom: 25px;
  }
  .section-2 .box-group .box {
    gap: 7.25px;
  }
  .section-2 .box-group .box .box-1 {
    max-width: 62.5px;
  }
  .section-2 .box-group .box .box-1 h3 {
    font-size: 9px;
    margin-top: 17.5px;
  }
  .section-2 .box-group .box .box-1 .item {
    max-width: 62.5px;
  }
  .section-2 .box-group .box .box-1 .item .item-1 {
    gap: 5px;
  }
  .section-2 .box-group .box .box-1 .item .item-1 .style-1 span {
    font-size: 15px;
  }
  .section-2 .box-group .box .box-1 .item .item-1 p {
    font-size: 9px;
    margin-bottom: 2px;
  }
  .section-2 .box-group .box .box-1 p {
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 2px;
  }
  .section-2 .box-group .box .box-2 {
    width: 62.5px;
    display: none;
  }
  .section-2 .box-group .box .box-2 h3 {
    font-size: 6px;
    margin-top: 8.75px;
  }
  .section-2 .box-group .box .box-2 .item {
    width: 62.5px;
  }
  .section-2 .box-group .box .box-2 p {
    font-size: 4px;
    margin-bottom: 2px;
  }
  .section-2 .box-group .foot {
    margin-top: 13px;
    gap: 12.5px;
  }
  .section-2 .box-group .foot .img-1 {
    width: 10px;
    height: 8px;
  }
  .section-2 .box-group .foot .img-2 {
    width: 100px;
    height: 8px;
  }
  .section-3 .box-group {
    padding: 60px 50px;
  }
  .section-3 .box-group .item h2 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  .section-3 .box-group .item p {
    max-width: 183.75px;
    font-size: 9px;
    font-weight: 200;
    line-height: 14.5px;
    margin-bottom: 12.5px;
  }
}
@media (min-width: 200px) and (max-width: 600px) {
  .section-3 .box-group {
    padding: 17.5px 25px;
  }
  .section-3 .box-group .box {
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    align-items: normal;
  }
  .section-3 .box-group .box .box-1 {
    max-width: 100px;
  }
  .section-3 .box-group .box .box-1 img {
    margin-bottom: 4.375px;
  }
  .section-3 .box-group .box .box-1 .tittle-1 h3 {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 1.25px;
  }
  .section-3 .box-group .box .box-1 .tittle-1 p {
    font-size: 5px;
    line-height: 14.5px;
    margin-bottom: 1.25px;
  }
  .section-3 .box-group .box .box-1 .tittle-1 b {
    font-size: 5px;
    line-height: 15px;
  }
  .section-3 .box-group .box .box-2 {
    width: 120px;
  }
  .section-3 .box-group .box .box-2 .box-3 {
    width: 120px;
    margin-bottom: 15px;
  }
  .section-3 .box-group .box .box-2 .box-3 img {
    max-width: 60px;
    height: 45px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 {
    padding: 1.25px 2.5px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 h3 {
    font-size: 5px;
    line-height: 8px;
    margin-bottom: 1.25px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 p {
    font-size: 4.5px;
    line-height: 7px;
    margin-bottom: 1.25px;
  }
  .section-3 .box-group .box .box-2 .box-3 .tittle-1 b {
    font-size: 2.5px;
    line-height: 7.5px;
  }
  footer .box-group {
    padding: 17.5px 25px;
  }
  footer .box-group .box .box-1 h2 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  footer .box-group .box .box-1 p {
    font-size: 8px;
    line-height: 13px;
    margin-bottom: 1.25px;
  }
  footer .box-group .box .box-1 .images {
    gap: 3.365px;
  }
  footer .box-group .box .box-2 ul li {
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 2.5px;
  }
  footer .box-group .box .box-3 ul {
    display: none;
  }
  footer .box-group .box .box-3 ul li {
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 2.5px;
  }
  footer .box-group .box .box-4 h3 {
    font-size: 10px;
    margin-bottom: 5.25px;
  }
  footer .box-group .box .box-4 .tittle-1 {
    gap: 3.75px;
  }
  footer .box-group .box .box-4 .tittle-1 input {
    font-size: 8px;
    padding: 1px 2.5px;
  }
  footer .box-group .box .box-4 .tittle-1 button {
    padding: 1px 4px;
    font-size: 8px;
  }
}/*# sourceMappingURL=style.css.map */